Django>=4.2
djangorestframework>=3.15
djangorestframework-simplejwt
psycopg2-binary
django-cors-headers
Pillow
reportlab
openpyxl
django-filter
argon2-cffi
python-dotenv
gunicorn
whitenoise
dj-database-url
bcrypt

